body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('/static/img/question_background.jpg');
    background-size: cover;
}

.page-container {
    position: relative;
    min-height: 95vh;
}

.main-content {
    margin: 20px;
    padding: 10px;
    padding-bottom: 2.5rem;  /* Footer height */
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 2.5rem;  /* Footer height */
}
